/**
 * Global Styles
 * 
 * Minimal global styles - MUI components handle most styling
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
}

